In [8]:
import pandas as pd
import numpy as np
import itertools as it
from scipy.special import factorial
from scipy.optimize import newton

pd.set_option('display.float_format', '{:.2E}'.format)

funcs = {
    "lg(n)": np.log2,
    "sqrt(n)": np.sqrt,
    "n": lambda n: n,
    "n*lg(n)": lambda n: n*np.log2(n),
    "n^2": lambda n: n**2,
    "n^3": lambda n: n**3,
    "2^n": lambda n: 2**n,
    "3^n": lambda n: 3**n,
    "n!": factorial
}

ms = (pd.Series({
    "1 Sekunde": 1,
    "1 Minute": 60,
    "1 Stunde": 60**2,
    "1 Tag": 60**2*24,
    "1 Monat": 60**2*24*30,
    "1 Jahr": 60**2*24*365,
    "1 Jahrhundert": 60**2*24*365*100
})*10**6).astype("float64")

df = pd.DataFrame(index=funcs.keys(), columns=ms.index)

df.loc["n", :] = ms
df.loc["sqrt(n)"] = ms**2
df.loc["n^2"] = np.sqrt(ms)
df.loc["n^3"] = np.power(ms, 1/3)
df.loc["2^n"] = np.log(ms)/np.log(2)
df.loc["3^n"] = np.log(ms)/np.log(3)
df.loc["lg(n)"] = 2**ms

def factorial_limit(y):
    for n in it.count():
        if factorial(n) > y:
            return n-1

df.loc["n!"] = ms.apply(factorial_limit)
df.loc["n*lg(n)"] = ms.apply(lambda y: newton(lambda n: n*np.log2(n)-y, y))

df

        1 Sekunde 1 Minute 1 Stunde    1 Tag  1 Monat   1 Jahr 1 Jahrhundert
lg(n)         INF      INF      INF      INF      INF      INF           INF
sqrt(n)  1.00E+12 3.60E+15 1.30E+19 7.46E+21 6.72E+24 9.95E+26      9.95E+30
n        1.00E+06 6.00E+07 3.60E+09 8.64E+10 2.59E+12 3.15E+13      3.15E+15
n*lg(n)  6.27E+04 2.80E+06 1.33E+08 2.76E+09 7.19E+10 7.98E+11      6.86E+13
n^2      1.00E+03 7.75E+03 6.00E+04 2.94E+05 1.61E+06 5.62E+06      5.62E+07
n^3      1.00E+02 3.91E+02 1.53E+03 4.42E+03 1.37E+04 3.16E+04      1.47E+05
2^n      1.99E+01 2.58E+01 3.17E+01 3.63E+01 4.12E+01 4.48E+01      5.15E+01
3^n      1.26E+01 1.63E+01 2.00E+01 2.29E+01 2.60E+01 2.83E+01      3.25E+01
n!              9       11       12       13       15       16            17